<h1>Burger</h1>

<h2>Add a Burger</h2>
<form id="burgeradder" class="button-size">
  <textarea type="text" name="burger" id="burgername"></textarea>
  <button type="submit" id="saveburger">Save Burger!</button>
</form>

<p id="test">
  Need to eat
</p>

{{!-- unless devoured means devoured = 0 or false --}}
<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}

        <button data-burgerid="{{this.id}}" class="eatburger">Eat Burger!</button>
      </p>
    </li>
    {{/unless}}
  {{/each}}
</ul>


Eaten


{{!-- if devoured means devoured = 1 or true --}}
<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}
      </p>
    </li>
    {{/if}}
  {{/each}}
</ul>


<script type="text/javascript">
  
  $("#burgeradder").on("submit", function(event) {
    event.preventDefault(); 
  
    var newBurger = {
      burger: $("#burgername").val().trim()
    };    
    
    // Send the POST request.
    $.ajax("/api/burger", {
     type: "POST",
     data: newBurger
    }).then(
      function() {
        console.log("created new burger");
      // Reload the page to get the updated list
        location.reload();
      }
    );
  });


  $(".eatburger").on("click", function(event) {
    // Get the ID from the button.
    // This is shorthand for $(this).attr("data-burgerid")
    var id = $(this).data("burgerid");

    //var updatedBurger = {
      //movie: $("#updatemovie [name=movie]").val().trim()
    //  burger: "eat"
    //};

    // Send the PUT request.
    $.ajax("/api/burger/" + id, {
      type: "PUT",
      data: "eat"
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

</script>
